<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1><a href="#"><span class="icebreakr-color">Icebreakr</span></a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <p class="navbar-right" ng-show="user">Welcome back, <strong class="text-info">{{ user.nick }}</strong> &mdash; <a href="#" ng-click="logOut()">Log out</a></p>
            <form ng-show="!user && authStatus" class="navbar-form navbar-right" data-login-form="{{ authStatus }}" id="loginForm" ng-disabled="authStatus=='logging'" ng-submit="authenticate()">
                <div class="form-group">
                    <input ng-model="loginEmail" ng-disabled="authStatus=='logging'" id="inputLoginUser" type="email" placeholder="user@example.com" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="loginPassword" ng-disabled="authStatus=='logging'" id="inputLoginPass" type="password" placeholder="password" class="form-control">
                </div>
                <button ng-disabled="authStatus=='logging'" id="loginSubmit" type="submit" class="btn btn-success">Log In / Register</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div id="mainContainer" class="container">
    <canvas id="mainCanvas" width="1200" height="750"> <!-- Main canvas -->
        Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
    </canvas>
    <canvas id="mainPingCanvas" width="1200" height="750"></canvas> <!-- Ping canvas -->
    <canvas id="mainHighlightCanvas" width="1200" height="750"></canvas> <!-- Main highlight canvas -->
    <div class="col-xs-1 text-right hard-right pull-right coords">
        {{ overPixel[0] }} <span class="text-muted">,</span> {{ overPixel[1] }}
    </div>
</div>
<div id="uiContainer" ng-show="userInit" class="container">
    <div class="row">
        <div id="info" class="col-xs-4">
            <h2>Welcome to <span class="icebreakr-color">Icebreakr</span>!</h2>
            <p ng-repeat="paragraph in helpText | nlToArray">{{ paragraph }}</p>
            <button ng-show="user.id == 4" class="btn btn-danger" ng-click="reset()">Reset</button>
        </div>
        <div id="userStats" class="col-xs-2">
            <h2>{{ user.nick }}'s Stats</h2>
            <div class="col-xs-10 hard-left">
                <table class="table unstyled">
                    <tr><td>Score</td><td class="text-right"><strong>{{ user.score }}</strong></td></tr>
                    <tr><td>Taps</td><td class="text-right"><strong>{{ user.taps }}</strong></td></tr>
                    <tr><td>Breaks</td><td class="text-right"><strong>{{ user.breaks }}</strong></td></tr>
                </table>
            </div>
        </div>
        <div id="scoreboard" class="col-xs-2">
            <h2>Scoreboard</h2>
            <table class="table unstyled">
                <tr ng-repeat="user in localUsers"><td>{{ $index+1 }}.</td><td>{{ user.nick }}</td><td class="text-right"><strong>{{ user.score }}</strong></td></tr>
            </table>
        </div>
        <div id="log" class="col-xs-4">
            <h2>Event Log</h2>
            <em ng-hide="eventLog.length > 0" class="text-muted">Only shows events occurring after opening this page.</em>
            <ul class="list-unstyled">
                <li ng-repeat="event in eventLog">
                    <span class="text-muted">{{ event.time | date:'H:mm:ss' }}</span>&emsp; 
                    {{ event.user }} <span class="text-muted">{{ event.action }}</span>
                    {{ event.coords }}
                </li>
            </ul>
        </div>
    </div>
</div>